<div class="flex items-center justify-center w-full h-full border-2 border-neutral-50">
  <mat-card class="w-2/5">
    <mat-card-title>
      <div class="flex items-center justify-center">
        <mat-icon class="icon-display">person</mat-icon>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form class="flex flex-col">
        <mat-form-field>
          <mat-label>Usuario:</mat-label>
          <input matInput type="email" placeholder="email" [formControl]="userName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña:</mat-label>
          <input matInput type="password" placeholder="********" [formControl]="userPassword">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex justify-center">
        <button mat-button color="primary" type="button" (click)="submit()">
          <mat-icon aria-hidden="false" aria-label="">login</mat-icon>
          Entrar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
