<div class="w-full h-full flex items-center justify-center">
  <mat-card class="w-3/5 hei">
    <mat-card-content>
      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Nombre:</mat-label>
          <input type="text" matInput>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Descripción:</mat-label>
          <input type="text" matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select>
            <mat-option disabled>Selecciona un producto</mat-option>
            <mat-option value="refresco">Refrescos</mat-option>
            <mat-option value="galleta">Galletas</mat-option>
            <mat-option value="pan">Pan</mat-option>
            <mat-option value="sabritas">Sabritas</mat-option>
            <mat-option value="helados">Helados</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Precio:</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="flex justify-end">
        <button mat-button color="warn" [routerLink]="['../']">
          Cancelar
        </button>
        <button mat-button color="primary" type="submit">
          Guardar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
