<div class="w-full p-6">
  <div class="flex justify-end py-4">
    <button mat-button color="primary" [routerLink]="['/main/products/create']">
      <mat-icon aria-hidden="false" aria-label="">add</mat-icon>
      Agregar producto
    </button>
  </div>
  <table mat-table [dataSource]="tableInfo" class="mat-elevation-z8 w-full">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.product}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="updated_date">
      <th mat-header-cell *matHeaderCellDef> Fecha modificación </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell  *matCellDef="let element">
        <button mat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="">edit</mat-icon>
        </button>
        <button mat-button color="accent">
        <mat-icon aria-hidden="false" aria-label="">visibility</mat-icon>
        </button>
        <button mat-button color="warn">
         <mat-icon aria-hidden="false" aria-label="">delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</div>
