<div class="flex flex-row">
  <div class="border-2 border-amber-900 divide-y divide-x w-1/6 h-screen flex flex-col">
    <button mat-button [routerLink]="['/main/products']" class="text-left">
      <mat-icon aria-hidden="false" aria-label="">table</mat-icon>
      Catálogo de productos
    </button>
    <button mat-button [routerLink]="['../login']" class="text-left">
      <mat-icon aria-hidden="false" aria-label="">logout</mat-icon>
      Logout
    </button>
  </div>
  <div class="border-2 border-amber-900 w-5/6 h-screen">
    <router-outlet></router-outlet>
  </div>
</div>
